body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.squareDancer{
  border:30px solid;
}
.polkaDancer{
  border:15px solid white;
  border-radius:15px;
}
.blinkyDancer{
  width: 0px;
  height: 0px;
  border-right: 30px solid transparent;
  border-top: 30px solid yellow;
  border-left: 30px solid yellow;
  border-bottom: 30px solid yellow;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.blinkyLineUp{
  border-right: 300px solid transparent;
  border-top: 300px solid yellow;
  border-left: 300px solid yellow;
  border-bottom: 300px solid yellow;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  display:inline;
}
.polkaLineUp{
  top:8px;
}
.squareLineUp{
  top:15px;
}